<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydra AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1><span style="color: #75e1e5;">HYDRA</span> AI</h1>
        </div>
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Administrative</a></li>
                <li><a href="/user">User</a></li>
                <li><a href="/user">Blog</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <h1>AI-driven Geospatial <span style="color: #75e1e5;">Water</span> Management System</h1>
        <p>Hydra AI is an innovative solution for monitoring and managing water resources using advanced artificial intelligence and geospatial technology. This system combines NLP algorithms with geolocation data to provide real-time insights into issues  into water-related challenges like scarcity, quality, and flooding.  Additionally, Hydra AI facilitates efficient water distribution, optimizing resource allocation and ensuring sustainable usage.</p>
    </div>
</body>
</html>
